*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{

    margin-top: 100px;
    padding-bottom: 10px;
    border-radius: 1em;
    width: 1100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

body{
    background-color: black;
    font-family: sans-serif;
}

h1{

    margin-top: 0%;
    padding: 3px;
    border: 3px solid darkgrey;
    border-radius: 0.5em;
    text-align: center;
    color: darkgrey;
    text-align: center;
}


h2{
    width: auto;
    text-align: center;
    color: darkgrey;
}

.slidername{
    position: relative;
    top:20px;
}

.slider{
    margin-top: 10px;  
    height: 600px;
    overflow: hidden;
    border: 3px solid darkgrey;
    border-radius: 1em;
}

.middle{
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: darkgray;
    opacity: 0.8;
    border-radius: 2em;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;

}

.slide img {
    position:relative;
    height: 100%;
    left: 50%;
    transform:translateX(-50%);
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

.changethemebtns{
    
    padding-top: 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
    border-radius: 3em;
    
    
}

.duckbtn{
    border-radius: 1em;
    width: 25%;
    min-width: 0px;
    transition: 0.2s;
}

.duckbtn:hover{
    width: 50%;
}



@media (max-width: 479px) {
    .content{
        width: 400px !important;
    }

    .slider{
        height: 170px !important;
    }

}

